body{
	background-color: #fde384;
}

div{
    background-color: black;
    display: inline-block;
}

h1{
	text-decoration: underline;
  	text-align: center;
  	color: #0066CC;
}

#button{
    display: inline-block;
    height:20px;
	width:100px;
	background-color:#cc0000;
	font-family:arial;
	font-weight:bold;
	color:#ffffff;
	border-radius: 5px;
	text-align:center;
	margin-left: 46%;
}

#wrapper{
	height: 500px;
	width: 650px;
	background-color: #FFF3F0;
	display: inline-block;
	margin-left: 25%;
}

.box{
	margin: 1px
}