<div class="media">
  <div class="media-body">
    <h5 class="mt-0"><%= comment.author_name %> <small>Posted on <%= comment.created_at.strftime('%b %d, %Y') %></small></h5>
    <%= comment.body %>
  </div>
</div>
<hr>
