<h1>All Articles</h1>

<ul id="articles">
  <% @articles.each do |article| %>
    <li>
      <a href="articles/<%= article.id%>"><%= "#{article.title} by #{article.author_name} - #{article.created_at.strftime('Created: %b %d %Y')}" %></a>
    </li>
  <% end %>
<br>
</ul>

<%= link_to "Create a New Article", new_article_path, class: "new_article" %>

