<% provide(:title, "Create Post") %> 

<div class="container">
  <h1 class="header-text">Create Post</h1>

  <div class="row ">
    <div class="col-lg-6 mx-auto text-center">
      <%= render partial: 'form' %>
    </div>
  </div>
</div>