<% provide(:title, @tag.name) %> 

<div class="container">
  <div class="col-xs-12">
    <h1 class="header-text">Articles Tagged with "<%= @tag.name %>"</h1>
  </div>

  <div class="row">
    <div class="table-responsive col-md-12">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Tag Name</th>
            <th>Article Count</th>
          </tr>
        </thead>
        <tbody>
          <%= render @tag.articles %>
        </tbody>
      </table>
    </div>
  </div>
</div>